## --- Fitxers de Visual Studio ---
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.db
*.opendb
*.sdf
*.ipch/

## --- Carpetes de sortida de compilació (Windows/MSVC) ---
Debug/
Release/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bin_linux/

## --- Carpetes de sortida de compilació (Linux/WSL) ---
bin/
obj/
out/
*.recipe
iconfig.json

## --- Fitxers temporals de compilació ---
*.obj
*.pdb
*.ilk
*.aps
*.ncb
*.cache
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
v14*.idb
v14*.pdb

## --- Fitxers de diagnòstic i subproductes de GCC ---
*.o
*.out
*.gch

## --- Dades de l'aplicació ---
# Ignorar la base de dades d'usuaris local
usuaris.txt

## --- Carpetes de treball del projecte ---
# Carpeta on es guarden els executables del Makefile
bin_linux/

# Carpeta on el client descarrega els fitxers (OP_GET i OP_RGET)
ftpDownloads/